{% extends "base.html" %}
{% block content %}
<!--=======Title======-->
<div class="container-fluid">
	<div class="page-header">
	  <h1>{{title}}</h1>
	</div>
</div>
<!--==================-->
<!--====== FORM ======-->
<div class="container-fluid">
	<form class="establishment" action="" method="post" name="login">
		{{ form.hidden_tag() }}
		<ul class="list-group">
			<li class="list-group-item">Establishment Name: {{ form.est_name(size = 30) }}</li>
			<li class="list-group-item">Establishment Address: {{form.est_address(size = 30) }}</li>
			<li class="list-group-item">Do you want to delete or add {{ form.deloradd() }}</li>
			<li class="list-group-item">Category: {{form.est_category()}}</li>
			<li class="list-group-item"><input type="submit" value="Submit!"></li>
		</ul>
	</form>
</div>
<!--==================-->
<!--====JinjaTemp=====-->
<div class="container-fluid">
	{% if answer %}
	<h2>{{answer}}<h2/>
	{% endif %}
</div>

<div class="container-fluid">
	<ul class="list-group">
	{% if all_places %}
		{% for place in all_places %}
		<li class="list-group-item">
			{% for x in place %}
			<p>{{x}}</p>
			{% endfor%}
		</li>
		{% endfor %}
	{% endif %}
	</ul>
</div>

<!--==================-->

{% endblock %}
