{% extends "base.html" %}
{% block content %}
<!--=======Title======-->
<div class="container-fluid">
	<div class="page-header">
	  <h1>{{title}}</h1>
	</div>
</div>
<!--==================-->
<!--====== FORM ======-->
<div class="container-fluid">
	<form class="establishment" action="" method="post" name="login">
		{{ form.hidden_tag() }}
		<ul class="list-group">
			<li class="list-group-item">Search: {{ form.search_type() }}</li>
			<li class="list-group-item">Type:   {{ form.search_type() }}</li>
			<li class="list-group-item">Date: {{ form.date() }}</li>
			<li class="list-group-item">Rating: {{ form.rating() }}</li>
			<li class="list-group-item"><input type="submit" value="Submit!"></li>
		</ul>
	</form>
</div>
<!--==================-->
{{user_search}}

{% if db_returnvals %} <br/>
{{db_returnvals}}
{% endif %}

</p>

{% endblock %}
