.navbar{
  margin-bottom: 0
}
.jumbotron {
  margin-bottom: 0
}
.form-container {
   border: 1px solid #215e97;
   background: #81aeda;
   background: -webkit-gradient(linear, left top, left bottom, from(#5a8fc3), to(#81aeda));
   background: -webkit-linear-gradient(top, #5a8fc3, #81aeda);
   background: -moz-linear-gradient(top, #5a8fc3, #81aeda);
   background: -ms-linear-gradient(top, #5a8fc3, #81aeda);
   background: -o-linear-gradient(top, #5a8fc3, #81aeda);
   background-image: -ms-linear-gradient(top, #5a8fc3 0%, #81aeda 100%);
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   border-radius: 8px;
   -webkit-box-shadow: rgba(000,000,000,0.9) 0 1px 2px, inset rgba(255,255,255,0.4) 0 0px 0;
   -moz-box-shadow: rgba(000,000,000,0.9) 0 1px 2px, inset rgba(255,255,255,0.4) 0 0px 0;
   box-shadow: rgba(000,000,000,0.9) 0 1px 2px, inset rgba(255,255,255,0.4) 0 0px 0;
   font-family: 'Helvetica Neue',Helvetica,sans-serif;
   text-decoration: none;
   vertical-align: middle;
   min-width:300px;
   padding:20px;
   width:300px;
   }
.form-field {
   border: 1px solid #c9b7a2;
   background: #e4d5c3;
   -webkit-border-radius: 4px;
   -moz-border-radius: 4px;
   border-radius: 4px;
   color: #c9b7a2;
   -webkit-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(000,000,000,0.7) 0 0px 0px;
   -moz-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(000,000,000,0.7) 0 0px 0px;
   box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(000,000,000,0.7) 0 0px 0px;
   padding:8px;
   margin-bottom:20px;
   width:280px;
   }
.form-field:focus {
   background: #fff;
   color: #725129;
   }
.form-container h2 {
   text-shadow: #80aed9 0 1px 0;
   font-size:18px;
